body {
  background: #ffffff;
  color: black;
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  font-size: 18px;
}

/* NAV HEADER */
.header {
  background: rgb(54, 54, 54);
  color: #ffffff;
  padding-top: 20px;
  margin-bottom: 30px;
  height: fit-content;
  width: 100%;
}

/* NAV TITLE */
.title {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  letter-spacing: 30px;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
}

/* NAV MENU */
ul {
  list-style-type: none;
  text-align: center;
  margin: auto;
  font-family: "Poppins", sans-serif;
}

.row {
  display: block;
}

.menuLi {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  letter-spacing: 10px;
  padding: 10px;
  margin: 0px 15px 20px 15px;
}

/* MAIN CONTENT */
.content {
  width: 80%;
  margin: auto;
  padding: 25px;
  overflow: auto;
  align-content: center;
  line-height: 25px;
}

.content-title {
  border-bottom: solid 2px rgb(54, 54, 54);
  text-transform: uppercase;
  margin-bottom: 25px;
  letter-spacing: 10px;
  font-weight: normal;
}

/* IMAGE */
#headshot {
  object-fit: cover;
  height: 300px;
  width: 230px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

/* NAV MENU PSEUDO-CLASSES */
a {
  text-decoration: none;
}

a:link {
  color: #d1baba;
}

a:visited {
  color: white;
}

a:hover {
  color: #81c4cf;
}

a:active {
  color: white;
}

/* CONTACT PAGE */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 30px;
}

input[type="submit"] {
  background: #81c4cf;
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.name-title {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.email-title {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.subject-title {
  text-transform: uppercase;
  letter-spacing: 5px;
}

/* PORTFOLIO PAGE */
.project-container {
  float: left;
  position: relative;
  width: 30%;
  margin: 10px;
}

.image {
  display: block;
  width: 100%;
  float: left;
}

.overlay {
  position: absolute;
  top: 65%;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: fit-content;
  opacity: 0.7;
  background: #ffffff;
  color: black;
  font-weight: normal;
  padding-top: 15px;
  padding-bottom: 15px;
  letter-spacing: 5px;
  text-align: center;
}

@media screen and (max-width: 980px) {
  body {
    font-size: 16px;
  }

  .title {
    font-size: 44px;
    letter-spacing: 27px;
    padding: 18px;
  }

  #headshot {
    height: 280px;
    width: 210px;
  }
}

@media screen and (max-width: 768px) {
  /* HEADER BAR */
  .title {
    font-size: 40px;
    letter-spacing: 25px;
    padding: 15px;
  }

  /* HEADSHOT */
  #headshot {
    height: 230px;
    width: 160px;
  }

  /* PORTFOLIO PAGE */
  .project-container {
    margin: 10px;
    width: 46%;
  }

  .overlay {
    top: 75%;
  }
}

@media screen and (max-width: 640px) {
  /* HEADER BAR */
  .title {
    font-size: 36px;
    letter-spacing: 25px;
    line-height: 50px;
    padding: 15px;
  }

  .menuLi {
    letter-spacing: 5px;
    padding: 5px;
  }

  /* HEADSHOT */
  #headshot {
    height: 200px;
    width: 130px;
  }

  /* PORTFOLIO PAGE */
  .project-container {
    margin: 10px;
    width: 95%;
  }

  .overlay {
    top: 80%;
  }
}
